version: "3"
services:
  postgres:
    image: postgres
    container_name: postgres-pokemon
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - sql:/var/lib/postgresql/data
      - ./sql/init/init-user-db.sh:/docker-entrypoint-initdb.d/init-user-db.sh
    ports:
      - 5432:5432
  mongo:
    image: mongo
    container_name: mongo-pokemon
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
      MONGO_INITDB_DATABASE: ${MONGO_INITDB_DATABASE}
      MONGO_USERNAME: ${MONGO_USERNAME}
      MONGO_PASSWORD: ${MONGO_PASSWORD}
    volumes:
      - mongo:/data/db
      - mongo_cfg:/data/configdb
      - ./mongo/init/01-init-db.js:/docker-entrypoint-initdb.d/01-init-db.js
    ports:
      - 27017:27017

volumes:
  sql:
    driver: local
  mongo:
    driver: local
  mongo_cfg:
    driver: local
